# No need for DATABASE_URL to be set if developing from within a devcontainer

SECRET_KEY=lkasjdf09ajsdkfljalsiorj12n3490re9485309irefvn,u90818734902139489230
DATABASE_URL=sqlite:///dev.db
SCHEMA=flashdrop_schema
S3_BUCKET=flashdrop-bucket
S3_KEY=AKIAVA5YKYYZAVCYVDMP
S3_SECRET=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
