#big-profile-pic {
    margin-top: 15px;
    margin-right: 15px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
}

.profile-header {
    /* margin: 53px 0px 0px 95px; */
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header-details {
    margin-right: 15px;
    font-weight: bold;
}

.profile-header-row-1 {
    display: flex;
    align-items: center;
}

/* .profile-page-container {
    max-width: 1106px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
