body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background {
  background-image: url('https://res.cloudinary.com/dmvfvyilq/image/upload/v1733882088/IMG_7945_emljaz.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #262626;
}

.signup-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#signup-header {
  color: rgb(255, 255, 255);
  margin: 10px 10px 0px 10px;
  font-weight: bold;
  line-height: 28px;
  font-size: 18px;
}

#artist-checkbox-container{
  display: flex;
}

#artist-checkbox {
  margin-left: 15px;
}
