.profile-dropdown {
  position: absolute;
  top: 46px;
  right: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 0px;
  border-color: rgb(238, 238, 238);
  padding: 15px 0 15px;
  border-radius: 5px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 236px;
}

.profile-dropdown li {
  font-size: 15px;
  line-height: 32px;
  cursor: pointer;
  text-align: left;
  width: 196px;
  padding: 0 20px 0 20px;
}

.profile-dropdown li:hover{
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}

.profile-dropdown li button{
  padding: 0px;
  line-height: 32px;
  width: 196px;
  text-align: left;
}

.profile-dropdown li button:hover{
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}

.profile-button:hover{
  /* background-color: rgb(243, 243, 243); */
  cursor: pointer;
}

ul {
  list-style-type: none;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 15px 0 15px;
  width: 100%;
}

.nav-right {
  display: flex;
  justify-content: left;
  list-style: none;
  font-size: 14px;
  margin: 0 10px 0 10px;
}

li:hover {
  cursor: pointer;
}

li a {
  text-decoration-color: black;
  text-decoration-line: none;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  color: black;
  font-size: x-large;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  color: black;
}

.nav-logo img {
  max-height: 21px;
}

.login-button,
.signup-button,
.edit-profile,
.log-out {
  background: none;
  border: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
  padding: 15px;
}
#logout-button {
  border: none;
  font-size: 15px;
}
ul li button:hover {
  /* background-color: rgb(243, 243, 243); */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 0px 0px rgb(238, 238, 238);
  height: 53px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.622);
}

body {
  margin-top: 0px;
}

.add_product{
  margin-right: 20px;
}

.add-button-link {
  font-size: x-large;
  color: black;
  padding-right: 7px;
}

li.username {
  font-weight: bold;
}

li .nav-icon {
  padding: 10px;
}

.nav-icon-link:hover{
  color: #fe4690
}

ul.nav-right {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
  margin: 0 20px 0 20px;
  list-style-type: none;
  justify-content: flex-end;
  cursor: default;
}

li.nav-right {
  padding-top: 0px;
}

.profile-button {
  font-size: x-large;
  margin: 0px;
  border: none;
  background-color: rgba(255, 255, 255, 0);

}

.nav-icon-link{
  color: black;
  font-size: x-large;
  margin: 0;
  padding-top: 2px;
}
