.profile-dropdown {
  position: absolute;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 53px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
